// media-queries

@media (max-width: 1024px) {
    body {
        display: grid;
        grid-template-rows: 20%;


        header {
            display: flex;
            justify-content: center;

            nav {
                height: 30%;
                width: 35%;
                @include order(center, center);
                border: dashed rgb(76, 29, 1);
                border-radius: 20px;

                .navegation {
                    @include flex(column, center, center);
                    margin-right: 12%;


                    li {
                        @include flex(row, center, center);
                        list-style: none;
                        width: 100%;



                    }
                }

                img {
                    width: 100%;
                    height: 10%;
                    z-index: -100;
                }

            }

        }

        main {
            margin-top: 20%;
            .titulo-home{
                margin-top: -10vh;
            }
            .titulo-tips{
                margin-top: 10vh;
            }
            .titulo-events{
                margin-top: 0.1vh;
            }
            .titulo-map{
                margin-top: 10vh;
            }
            .section-tips {
                @include flex(column, center, center);
                flex-wrap: wrap;
                margin-top: 10%;
            }

            .section-events{
                @include flex(row, center, center);
                flex-wrap: wrap;
                margin-top: 5%;
                gap: 5% ;

                .card{
                    @include flex(column, center, center);
                    background-size: cover;
                    height: auto;
                    width: 340px;
                    
                    
                    img{
                        height: 15rem;
                        width: 22rem;
                    }
                    
                    
                    
                }

            }

            .section-map{
                display: flex;
                margin-top: 9vh;
                margin-bottom: 70vh;
                gap: 6% ;

                
            }

            .section-store{
                @include flex(row, center, center);
                flex-wrap: wrap;
                column-gap: 10% ;
                margin-top: 5%;

                .card{
                    height: 25%;
                    width: 19rem;
                    
                    img{
                        height: 25rem;
                        width: 9rem;
                    }
                }
                
            }
            

            section {
                @include flex(row, center, center);
                flex-wrap: wrap;
                
            }
        }

        footer {
            .miFooter {
                .social {


                    a {
                        width: 15%;
                    }
                }


            }

        }
    }
}

@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-rows: 20%;


        header {
            display: flex;
            justify-content: center;


            nav {
                height: 30%;
                width: 35%;
                @include order(center, center);
                border: dashed rgb(76, 29, 1);
                border-radius: 20px;

                .navegation {
                    @include flex(column, center, center);
                    margin-right: 12%;


                    li {
                        @include flex(row, center, center);
                        list-style: none;
                        width: 100%;



                    }
                }

                img {
                    width: 100%;
                    height: 10%;
                    z-index: -100;
                }

            }

        }

        main {
            margin-top: 20vh;
            .titulo-home{
                margin-top: -8vh;
            }
            .titulo-tips{
                margin-top: 10vh;
            }
            .titulo-events{
                margin-top: -30vh;
                margin-bottom: 40vh;
            }
            .titulo-map{
                margin-top: -9vh;
            }
            .section-tips {
                @include flex(column, center, center);
                flex-wrap: wrap;
                margin-top: 12vh;
            }

            .section-events{
                display: flex;
                flex-direction: column;
                margin-top: -33%;
            }

            .section-map{
                @include flex(row, center, center);
                flex-wrap: wrap;

                .map{
                    

                    .map-g{
                        display: flex;
                        width: 24rem;
                        height: 20rem;
                    }
                }
            }

            .section-store{
                @include flex(row, center, center);
                flex-wrap: wrap;
                margin-top: -6%;
                column-gap: 9% ;
                

                .card{
                    height: 20%;
                    width: 14rem;

                    img{
                        height: 28rem;
                        width: 9rem;
                    }
                }
            }
            

            section {
                @include flex(row, center, center);
                flex-wrap: wrap;
                

                .articles {
                    @include flex(column, center, center);
                    width: 80%;
                    margin-top: 15vh;
                    margin-bottom: 7%;
                    background-size: cover;

                    .carousel {
                        width: 80%;
                        height: auto;
                        overflow: hidden;
                        border-radius: 25px;

                        img {
                            height: 25%;
                            width: auto;
                        }

                    }


                }




            }
        }

        footer {
            .miFooter {
                .social {


                    a {
                        width: 20%;
                    }
                }


            }

        }

    }

}

@media (max-width: 520px) {
    body {
        display: grid;
        grid-template-rows: 20%;




        header {
            display: flex;
            justify-content: center;
            margin-bottom: 10%;


            nav {
                height: 30%;
                width: 35%;
                @include order(center, center);
                border: dashed rgb(76, 29, 1);
                border-radius: 20px;

                .navegation {
                    @include flex(column, center, center);
                    width: 100%;
                    margin-right: 18%;


                    li {
                        @include flex(row, center, center);
                        list-style: none;
                        width: 100%;



                    }
                }

                img {
                    width: 100%;
                    height: 10%;
                    z-index: -100;
                }

            }

        }

        main {
            .titulo-home{
                @include flex(row, center, center);
                margin: 1vh 0 -12vh 7%;
                
                
            }
            .titulo-tips{
                @include flex( row, center, center);
                margin: 9vh 0  -4vh 7%;
                
            }
            
            .titulo-events{
                margin-top: -20vh;
                margin-bottom: 40vh;
            }
            .titulo-map{
                margin-top: -6vh;
            }
            .titulo-store{
                margin-top: -80vh;
                margin-bottom: -20vh;
            }
            .section-tips {
                @include flex(row, center, center);
                flex-wrap: wrap;
                margin-top: 15vh;
                overflow: hidden;

                .titulos-tips {
                    margin-left: 15%;
                }
                .article-tips{
                    .imagen{
                        img{
                            height: 250px;
                            width: 200px;
                        }
                    }
                    
                    
                }
            }
            .section-events{
                display: flex;
                
                

                .card{
                    display: flex;
                    height: auto;
                    width: 240px;

                    img{
                        height: 10rem;
                        width: 17rem;
                    }
                }
            }
            .section-map{
                @include flex(row, center, center);
                

                .map{
                    display: flex;
                    flex-wrap: wrap;

                    .map-g{
                        display: flex;
                        width: 18rem;
                        height: 18rem;
                    }
                }
            }
            
            .section-store{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-top: -30vh;
                
                

                .card{
                    height: 10%;
                    width: 14rem;

                    img{
                        height: 28rem;
                        width: 9rem;
                    }
                }
            }

            section {
                @include flex(row, center, center);
                flex-wrap: wrap;
                margin-top: 20%;

                .articles {
                    @include flex(column, center, center);
                    width: 80%;
                    
                    margin-bottom: 11%;
                    background-size: cover;

                    .carousel {
                        width: 80%;
                        height: auto;
                        overflow: hidden;
                        border-radius: 25px;

                        img {
                            height: 12rem;
                            width: auto;
                        }

                    }


                }




            }
        }

        footer {
            .miFooter {
                .social {
                    flex-direction: column;

                    a {
                        width: 25%;
                    }
                }


            }

        }

    }
}